<div class="col-6 col-sm-1 border">
    {% if day.isFree %}<strong class="text-primary">{% endif %}
        {{ day.dayNumber }}
    {% if day.isFree %}</strong>{% endif %}
</div>
<div class="col-6 col-sm-1 border" title="{{ day.dayName }}">
    {% if day.isFree %}<strong class="text-primary">{% endif %}
    {{ day.dayShortName }}
    {% if day.isFree %}</strong>{% endif %}
</div>
