<div class="col-6 col-sm-1 border {{ day.isWeekend ? 'text-secondary' : '' }}">
    <strong>{{ day.dayNumber }}</strong>
</div>
<div class="col-6 col-sm-1 border {{ day.isWeekend ? 'text-secondary' : '' }}">
    <strong>{{ day.dayShortName }}</strong>
</div>
