<div class="col-6 col-sm-1 border">
    {% if day.isWeekend %}<strong class="text-primary">{% endif %}
        {{ day.dayNumber }}
    {% if day.isWeekend %}</strong>{% endif %}
</div>
<div class="col-6 col-sm-1 border">
    {% if day.isWeekend %}<strong class="text-primary">{% endif %}
    {{ day.dayShortName }}
    {% if day.isWeekend %}</strong>{% endif %}
</div>
