<!-- link triggers modal -->
<div>
  <a href="#" data-bs-toggle="modal" data-bs-target="#calculateModal" title="Spielplan berechnen"><i class="bi bi-calculator"></i> Spielplan berechnen</a>
</div>

<div class="modal fade" id="calculateModal" tabindex="-1" aria-labelledby="calculateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {{ form_start(form, {attr: {"data-controller": "form"}}) }}
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="calculateModalLabel">Spielplan {{ schedule.inProgress ? 'neu ' }}berechnen</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bei der Berechnung werden Spieltermine nach Wünschen und Verfügbarkeiten der Clowns automatisch zugeordnet.
        Im Anschluss können die Zuordnungen noch manuell angepasst werden oder auch neu berechnet werden.</p>
        <p>Die Berechnung dauert ca. 90 Sekunden.</p>
        <p>Achtung: Nicht vergessen, die Spielplanerstellung abzuschließen! Erst dann werden die Zuordnungen für die Clowns sichtbar. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mb-3" data-bs-dismiss="modal">Abbrechen</button>
        {{ form_row(form.calculate_complex) }}
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>