Oh no! Fehler! <br />
<span class="small">
    Sekunden: {{ seconds }} |
    Http Status Code: {{ result.statusCode }} |
    Fehlermeldung:   <a data-bs-toggle="collapse" href="#errorMessage" role="button" aria-expanded="false" aria-controls="errorMessage">auf-/zuklappen</a>
    <div class="collapse" id="errorMessage">{{ result.errorMessage }}</div>
</span><br />
Hmm... das ist nicht gut!<br />
Bitte die einfache Berechnung benutzen!<br />
Vielleicht mal Pascal Bescheid geben?<br />
