{% extends "base.html.twig" %}

{% block content %}
    <h3>Spielplan Clowns&amp;Clowns</h3>
    <h4 class="pt-3">Hey {{ currentClown.name }}, hier kannst Du Dein Passwort ändern:</h4>

    {{ form(form) }}

{% endblock %}
