{% set textColor = availability == 'yes' ? 'success' : (availability == 'no' ? 'danger' : 'warning') %}
<span class="text-muted">{{ daytime|trans }}</span>
<span class="text-{{ textColor }}">
    {{ availability == 'yes' ? 'Ja' : (availability == 'no' ? 'Nein' : 'Wenn\'s sein muss') }}
</span>

