{% extends "partials/_schedule_base.html.twig" %}

{% block am %}
    {{ include (
        'clown_availability/_show_availability_in_schedule.html.twig', 
        {availability: day.entries('am', 'availabilities')[0], daytime: 'am'}, with_context = false) 
    }}
    <div class="play_dates collapse">
        {% for playDate in day.entries('am', 'playDates') %}
            {{ component('show_play_date', {playDate: playDate, month: month}) }}
        {% endfor %}
    </div>
{% endblock %}

{% block pm %}
    {{ include (
        'clown_availability/_show_availability_in_schedule.html.twig', 
        {availability: day.entries('pm', 'availabilities')[0], daytime: 'pm'}, with_context = false) 
    }}
    <div class="collapse play_dates">
        {% for playDate in day.entries('pm', 'playDates') %}
            {{ component('show_play_date', {playDate: playDate, month: month}) }}
        {% endfor %}
    </div>
{% endblock %}
