{% extends "base.html.twig" %}

{% block content %}
    <h4 class="pt-3">Spieltermin abgeben</h4>

    <p>Deine Anfrage wird per Email an alle aktiven Clowns gesendet.</p>

    <h5>
        {{ playDate.name }}, {{ playDate.date|date('d.m.Y') }} {{ playDate.daytime|trans }} 
    </h5>    

    {{ form(form) }}
{% endblock %}
