{% extends "base.html.twig" %}

{% block content %}
    <h5>Honorar für {{ playDate.name }} {{ hasFee ? 'bearbeiten' : 'anlegen' }}</h5>

    {{ form(form) }}
    {% if not hasFee %}
        <a href="{{ path('play_date_show', {id: playDate.id}) }}" alt="Jetzt erstmal kein Honorar anlegen">Überspringen</a>
    {% endif %}
{% endblock %}
