<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>{% block title %}Clown Spielplan{% endblock %}</title>
        <link rel="icon" href="https://www.clowns-und-clowns.de/wp-content/uploads/2021/03/favicon-1.ico" sizes="32x32">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body >
        
        <div class="container py-4">
            {% for label, messages in app.flashes(['success', 'warning', 'danger', 'info']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show d-flex" role="alert">
                        <div>{{ message }}</div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}

            {{ component('main_navigation', { active: active }) }}

            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
