{% if showIt %}
    <div class="pt-2">
        Springer:
        {{ substitution.substitutionClown ? substitution.substitutionClown.name }} 
        {% if showSubstitutionClownWarning %}
            <span class="ms-2 text-danger" title="Kein Springer eingetragen.">
                <i class="bi bi-exclamation-triangle"></i>
            </span>
        {% endif %}
        {% if currentClown.isAdmin %}
            {{ include('_shared/_edit_link.html.twig', {url: path('substitution_edit', {date: substitution.date|date('Y-m-d'), daytime: substitution.daytime}), title: "Springer bearbeiten"}) }}
        {% endif %}
    </div>
{% endif %}
