{% if showIt %}
    <div class="pt-2">
        <span class="{{ colorClass }}">Springer:</span>
        {{ substitution.substitutionClown ? substitution.substitutionClown.name : '-' }} 
        {% if currentClown.isAdmin %}
            {{ include('_shared/_edit_link.html.twig', {url: path('substitution_edit', {date: substitution.date|date('Y-m-d'), daytime: substitution.daytime}), title: "Springer bearbeiten"}) }}
        {% endif %}
    </div>
{% endif %}
