{% if showIt %}
    <form class="mb-3">
        <select id="statistics-type-dropdown" onchange="location = this.value;">
            {% for type in types %}
                <option value="{{ "#{path}?type=#{type.value}" }}" {% if currentType == type %}selected{% endif %}>{{ type.label }}</option>
            {% endfor %}
        </select>
    </form>
{% endif %}
