<p>
    Hallo {{ clown.name }},
</p>

<p>
    hier Dein Link zum Ändern Deines Passwortes für den Clown Spielplan: 
    <a href="{{ url('change_password', {token: login_token}) }}">{{ url('change_password', {token: login_token}) }}</a>
</p>

<p>
    Falls Du diesen Link nicht angefordert hast, kannst Du diese Email ignorieren.
</p>

<p>
    Deine Dich liebende Spielplan App 
</p>
