<p>
    Hallo {{ clown.name }},
</p>

<p>
    Hier Dein Anmeldelink für den Clown Spielplan: 
    <a href="{{ url('login_by_token', {token: login_token}) }}">{{ url('login_by_token', {token: login_token}) }}</a>
</p>

<p>
    Deine Dich liebende Spielplan App 
</p>
